<div class="banner">
    <div class="content">
        <br>
        <h1> OUR MENU.</h1>
        <a href="menupage">ORDER NOW <i class="bi bi-arrow-right"></i></a>

    </div>
</div>


<!-- foodbox -->

<br><br>

<div class="container" mt-4 mb-4>
    <h1 class="text-center">Customers <span class="highlight">liked</span> </h1>
    <div class="row">
        <div class="col-lg-3 mt-3 ">
            <div class="foodbox" >
                <img src="../../../assets/img/foodimg1.jpg" alt="">
                <h1>Cheese Brust volcano</h1>
                <p>price =$40</p>
                
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg2.jpeg" alt="">
                <h1>panner grilled sandwich</h1>
                <p>price =$25</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
         </div>
         <div class="col-lg-3 mt-3">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg3.jpeg" alt="">
                <h1>Cheese Loaded Burger</h1>
                <p>price =$20</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
         </div>
         <div class="col-lg-3 mt-3">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg4.jpeg" alt="">
                <h1>Oreo Crush Milkshake</h1>
                <p>price =$15</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
         </div>
    </div>
</div>

<div class="container" mt-4 mb-4>
    <div class="row">
        <div class="col-lg-3 ">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg5.jpg" alt="">
                <h1>Veg Masala Roll In Naan</h1>
                <p>price =$30</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg6.jpg" alt="">
                <h1>Chocolate Cupcake</h1>
                <p>price =$5</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg7.jpg" alt="">
                <h1>Cold Coffee with cocoa</h1>
                <p>price =$12</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="foodbox">
                <img src="../../../assets/img/foodimg8.jpg" alt="">
                <h1>French Fries</h1>
                <p>price=$5</p>
                <a href="menupage" class="buybtn">Buy Now <i class="bi bi-bag"></i></a>
            </div>
         </div>
    </div>
</div>
<br><br>



