<div class="banner">
    <div class="content">
        <h1>About Us.</h1>
        <a href="menupage">ORDER NOW <i class="bi bi-arrow-right"></i></a>

    </div>
</div>
<br>

<section class="text-gray-600 body-font">
    <h1 class="text-center">About<span class="highlight">Pizzapree</span> </h1>
    <br>
    <div class="container-fluid flex px-5 py-24 md:flex-row flex-row items-left">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img style="float: left;width:500px;height:440px;" class="object-cover object-center rounded" alt="hero"
                src="../../../assets/img/about2img.jpg">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-row md:items-start md:text-left items-center text-center">
            <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:bold ; " class="mb-8 leading-relaxed">
                Pizzapree is all about quality you can trust. As one of the original founding Pizza brands and the 3rd
                largest Pizza chain in India, our sole mission is making the freshest, tastiest and funnest Pizza
                around. Our classic pan pizza will always be a fan favourite, with a soft and chewy crust perfectly
                balancing out the healthy tomato puree and mozzarella - cheddar blended cheese. Our authentic Italian
                crust for those who would prefer a light and airy crust to more fully enjoy the toppings. Thin, light
                and delicious.
                Our newest addition of Puree sauces will blow your mind. Chose between a spicy buffalo, sweet bbq, tangy
                chipotle can creamy makhni to perfectly compliment your toppings and crust. Our suggestions of
                combinations might be helpful but ultimately the power lies with you.
                Contrary to industry standard strategy, USPizza, since 1996, has been committed to growing our brand
                slowly and steadily. Every outlet is carefully selected on strict criteria. To be a USPizza franchisee
                is a privilege unto itself. The same commitment to product and service perfection we practice is
                expected from our partners.
                Our outlets designed by leading architects to reflect our philosophy of being open and inviting, while
                putting our customer comfort on priority.Everywhere we go, we hear ‘Your pizza is the tastiest pizza
                around, why aren’t you open in my location’. The answer is simple, every outlet opened is a promise to
                our customer, and not one we take lightly.
            </p>

        </div>
    </div>
</section>

<div class="container-flexbox ">
    <br>
    <h1 class="text-center">Our<span class="highlight">Recommended</span> </h1>
    <br>
    <marquee behavior="alternate" direction="alternate">
        <img style="width:300px ;height:300px" src="../../../assets/img/foodimg7.jpg" alt="">
        <img style="width:400px ;height:300px" src="../../../assets/img/foodimg2.jpeg" alt="">
        <img style="width:400px ;height:300px" src="../../../assets/img/foodimg3.jpeg" alt="">
        <img style="width:400px ;height:300px" src="../../../assets/img/foodimg7.jpg" alt="">
        <img style="width:400px ;height:300px" src="../../../assets/img/foodimg8.jpg" alt="">
        <img style="width:400px ;height:300px" src="../../../assets/img/foodimg6.jpg" alt="">

    </marquee>
</div>