<div class="banner">
    <div class="content">
        <h1> OUR OFFERS.</h1>
        <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>

    </div>
</div>
<br><br>

<div class="container" mt-4 mb-4>
    <h1 class="text-center">Our <span class="highlight">Combos</span> </h1>
    <div class="row">
        <div class="col-lg-4 mt-3 ">
            <div style="float:left;" class="foodbox">
                <img src="../../../assets/img/offerimg4.jpg" alt="">
                <h1>Momo Pizza-Meal for Two</h1>
                <p>price =$40</p>
            </div>
        </div>
        <br><br>
        <div class="col-lg-4 mt-3">
            <div class="foodbox">
                <img src="../../../assets/img/offerimg2.jpg" alt="">
                <h1>Panner pizza-1 Plus 1</h1>
                <p>price =$25</p>

            </div>
        </div>
        <div class="col-lg-4 mt-3">
            <div class="foodbox">
                <img src="../../../assets/img/offerimg3.jpg" alt="">
                <h1>Stuffed Crust-Meal for two</h1>
                <p>price =$25</p>

            </div>
        </div>
    </div>
</div>

<br><br>
<h1 class="text-center">Order<span class="highlight">Now</span> </h1>
<br><br>
<div class="container" mt-5 mb-5>
    <div class="row">
        <div class="col-lg-4 mt-3">
            <div style="float:left;" class="foodbox">
                <img style="width:500px;" src="../../../assets/img/menucard.jpg" alt=""> 
            </div>
            <a  href="menu" class="btn btn-md btn-dark  mt-3">Back To Menu</a>

        </div>
        <div class="col-lg-6 mt-3">
            <h1 style="padding-left: 200px;">Enter Your Details</h1>
            <form style="padding-left:200px;">
                <input type="text" class="form-control" placeholder="Enter your Full Name">
                <input type="number" class="form-control" placeholder="Enter your Mobile No">
                <textarea class="form-control" placeholder="Enter Your Address"></textarea>
                <button class="btn btn-md btn-dark mt-3" (click)="getdata()">Place Order</button>
            </form>
        </div>
    </div>